<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>toheart-小游戏</title>
		<link rel="stylesheet" th:href="@{/css/common.css}" />
		<link rel="stylesheet" th:href="@{/css/cssreset.css}" />
		<link rel="stylesheet" th:href="@{/css/gameHome.css}" />
	</head>
	<body>
		<div class="top">
			<div class="float-left">
				<div class="title float-left">
					toheart
				</div>
				<ul class="sort float-left">
					<li><a th:href="@{../}">首页</a></li>
					<li><a th:href="@{../story/storyHome/1/10}">故事</a></li>
					<li><a th:href="@{../confession}">表白墙</a></li>
					<li><a th:href="@{gameHome}">轻松一刻</a></li>
				</ul>
			</div>
			<div class="float-right top-right">
				<form action="#" method="get" target="_blank" style="display: inline-block;">
					<input class="search" type="text" placeholder="20岁那年" />
						<label for="search-sub">
							<em class="search-ico"></em>
						</label>
						<input type="submit" id="search-sub" class="hidden-sub"/>
				</form>
				<a th:href="@{/login}" class="btn-login" th:if="${session.current_user==null}">QQ登录</a>
				<span  th:if="${session.current_user != null}" th:text="${session.current_user.userName}"></span>
                <a th:href="@{/logout}" class="btn-login"  th:if="${session.current_user != null}" style="margin-left: 5px;font-size: 15px;">[退出]</a>
			</div>
		</div>
		<div class="content">
			<div class="img-top">
				<img th:src="@{/img/game.png}"  />
			</div>
			<div class="content-game">
				<ul>
					<li>
						<a th:href="@{/game/2048}" target="_blank">
							<img  th:src="@{/img/2048.png}"/>
							<span>2048小游戏</span>
						</a>
					</li>
				</ul>
			</div>
			
		</div>
		
		
		
		<div class="bottom" style="margin-top: 80px;">
			<ul class="aboutUs">
				<li>关于我们</li>
				<li>加入我们</li>
				<li>提交建议</li>
				<li class="li-after">友情链接</li>
			</ul>
			<div class="copyright">© 2018 www.toheart.xin. All rights reserved. <a href="http://www.miitbeian.gov.cn/">京ICP备18028659号-1</a></div>
			<div class="contact">联系我：邮箱：15801374807@163.com QQ：954186642</div>
		</div>
	</body>
	</body>
</html>
