<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>toheart-write story</title>
		<link rel="stylesheet" th:href="@{/css/cssreset.css}" />
		<link rel="stylesheet" th:href="@{/css/common.css}" />
		<link rel="stylesheet" th:href="@{/css/storyWriter.css}" />
		
		<script charset="utf-8" th:src="@{/js/kindeditor/kindeditor-all-min.js}"></script>
		<script charset="utf-8" th:src="@{/js/kindeditor/lang/zh-CN.js}"></script>
		<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>

		<script>
			KindEditor.ready(function(K) {
			   	window.editor = K.create('textarea[name="storyContent"]', {//配置kindeditor编辑器的工具栏菜单项
			        items:[
						'justifyleft', 'justifycenter', 'justifyright',
				        'justifyfull',  'indent', 'outdent', 'subscript',
				        'superscript', 'quickformat', 'selectall', '|', 'fullscreen',
				        'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
				        'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'emoticons', 'link']
				       });

				 });
			
				KindEditor.ready(function(K) {
			     window.editor = K.create('#editor_id');
			   });
		</script>
		
	</head>
	<body>
		<!--<div class="top">
			<div class="float-left">
				<div class="title float-left">
					toheart
				</div>
				<ul class="sort float-left">
					<li><a href="../home.html">首页</a></li>
					<li><a href="story/storyHome.html">故事</a></li>
					<li><a href="../confession/confessionHome.html">表白墙</a></li>
					<li><a href="../game/gameHome.html">轻松一刻</a></li>
				</ul>
			</div>
			<div class="float-right top-right">
				<form action="#" method="get" target="_blank" style="display: inline-block;">
					<input class="search" type="text" placeholder="20岁那年" />
					<label for="search-sub">
						<em class="search-ico"></em>
					</label>
					<input type="submit" id="search-sub" class="hidden-sub"/>
				</form>
				<a href="#" class="btn-login">登录</a>
				<a href="#" class="btn-login">注册</a>
			</div>
		</div>-->
		
		<div class="content">
			<div class="fabiao">
				<form th:action="@{/story/saveStory}" method="post">
					<input type="text" placeholder="请输入标题" class="biaoti" name="storyTitle"/>
					<input type="text" placeholder="请输入作者" class="zuozhe" name="storyAutor" />
					<textarea id="editor_id" name="storyContent" class="editor_id">
					</textarea>
					<textarea name="storyBrief" placeholder="请简单对故事做个介绍" cols="79"></textarea>
					<label for="upload">
						<div  class="btn" id="picShow">添加封面</div>
					</label>
					<input type="file"  id="upload" style="display: none"/>
					<input type="hidden" name="storyImgUrl" id="hidden">
					<input type="submit" value="提交"  class="btn"/>
				</form>
			</div>
			
		</div>
		<script>
			$(function(){
			    var type_arr = ['image/png','image/jpg','image/gif','image/jpeg'];
			    $('#upload').change(function(){
			        var file = this.files[0];
			        console.log(file);
			        var type = file.type,
						size = file.size ,
			        	picname=file.name;
			        console.log(type);
			        if(type_arr.indexOf(type) < 0){
			            alert('上传文件格式不正确');
			            return false;
					}
					if(size > 1048576){
			            alert('上传图片太大，请小于1M');
			            return false;
					}
			        var formData = new FormData();
                    formData.append('img',file);
                    $.ajax({
						url: "/pic/upload",
						type:'POST',
						contentType: false,
						processData: false,
						data: formData,
						success:function(e){
						    var res = JSON.parse(e);
						    $('#hidden').val(res.url);
						    $('#picShow').text(picname);
						}
					})
				})
			})
		</script>
	</body>
</html>
