.tt{
	padding-top: 70px;
	width: 80%;
	margin: 0 auto;
}
.tt form{
	display:inline-block;
	padding-top: 50px;
	width: 35%;
}
.tt form textarea{
	margin-left: 2px;
	width: 60%;
}
.tt form .nick{
	/*position: relative;
	top: -44px;
	left: 18%;*/
	float: right;
	width: 100px;
	height: 30px;
	border-radius: 10%;
}
.tt form .submitBiao{
	/*position: relative;
	top: -38px;
	left: 23%;*/
	margin-top: -22px;
	float: right;
	color: #FFFFFF;
	border: 0px;
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background-color: #D20596;
	border-radius: 10%;
}
.content{
	background-color: #008800;
	width: 80%;
	height: 1100px;
	margin: 0 auto;
	padding-top: 10px;
	word-wrap:break-word; 
	word-break:break-all; 
	overflow: hidden;
}
.content ul li{
	float: left;
	padding: 0;
	width: 20%;
} 
.tt .bbbj{
	width: 63%;
}
.text-input textarea{
	width: 50%;
	height: 60px;
}
.content .biaobai-content-detail{
	display: inline-block;
	background-image: url(../img/biaobaibg.png);
	background-repeat: no-repeat;
	background-size:100% 100%;
	width: 90%;
	height: 200px;
	padding-top: 60px;
	padding-left: 20px;
	text-indent: 20px;
	
}
.content .biaobai-content-detail .word{
	display: inline-block;
	width: 70%;
	height: 150px;
	overflow: auto;
}

.love-every-bottom{
	padding-top: 5px;
	text-indent: 0px;
	clear: both;
	font-size: 12px;
}
.love-every-bottom .love-zan{
	display: inline-block;
	margin-left: 65px;
}
.love-every-bottom .love-zan:hover{
	cursor: pointer;
} 
.love-every-bottom .love-zan img{
	width:17px;
	height: 17px;
}
.love-every-bottom .love-zan em{
	color: #CCCCCC;
}
.love-every-bottom a{
	color: #008800;
	text-decoration: none;
	float: left;
}
.love-every-bottom span{
	padding: 0;
	margin-right: 20px;
}