.content{
	width: 60%;
	height: 1100px;
	margin: 0 auto;
	padding-top: 60px;
	word-wrap:break-word; 
	word-break:break-all; 
	overflow: hidden;

}
.content .img-top{
	width: 99%;
	border: 1px solid #CCCCCC;
}
.content .content-game{
	margin-top: 20px;
	width: 99%;
	height: 150px;
	text-align: center;
	
}
.content a{
	text-decoration: none;
	color: #000000;
	display: inline-block;
}

.content ul li{
	margin-top: 20px;
	margin-left: 10px;
	float: left;
	border: 1px solid #CCCCCC;
	border-radius: 10%;

}
.content ul li a span{
	display: block;
	border-top: 1px solid #CCCCCC;
}