.content{
	margin: 0 auto;
	width: 75%;
	height: 1800px;
/*	border: 1px solid #000000;*/
}
.content-left{
	width: 70%;
	height: 100%;
}
.content-right{
	margin-top: 100px;
	width: 27%;
	height: 100%;
	/*border: 1px solid red;*/
}
.story{
	margin-top: 100px;
	border: 1px solid #CCCCCC;
}

.story-icon{
	border: 1px solid #CCCCCC;
	width:99.8%;
}



.confession{
	overflow: auto;
	width: 100%;
	/*height: 200px;*/
	border: 1px solid #CCCCCC;
	
}
.confession p{
	
	margin-top: 15px;
	letter-spacing: 2px;
	text-indent: 35px;
}
.confession span{
	display: block;
	margin-top: 20px;
	float: right;
	padding-right: 20px;
}
.wonderfulStory{
	width: 100%;
	height: 21%;
	border: 1px solid #CCCCCC;
}
.wonderfulStory-title{
	margin-left: 15px;
	margin-bottom: 10px;
	width: 80%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color:#3D3D45;
	border-bottom: 1px solid #CCCCCC;
}
.wonderfulStory-content a{
	display: inline-block;
	font-size: 15px;
	width: 80%;
	margin-top: 10px;
	margin-left: 15px;
	text-decoration: none;
	color: #4E4C4C;
	border-bottom: 1px solid #CCCCCC;
	padding-bottom: 8px;
}
.wonderfulStory-content a:hover{
	color: #000000;
}
.dyh{
	margin-top: 10px;
	height: 120px;
}
.dyh img{
	float: left;
	width: 110px;
	height: 110px;
	text-align: center;
}
.dyh span{
	float: left;
	display: inline-block;
	width: 43%;
	height: 110px;
	padding-top: 10px;
	text-indent: 26px;
}
.love{
	margin-top: 20px;
}
.love-icon{
	border: 1px solid #d20596; 
	width:99.8%;
}
.love-every{
	width: 100%;
	height: 125px;
	border: 1px solid #d20596;
	font-family: STXinwei;
	font-size: 18px;
	color: #fd05ba;
	text-indent: 30px;
}
.love-every p{
	padding-top: 20px;
	padding: 10px;
}
.love-every span{
	float: right;
	padding: 10px;
}
.love-every-bottom{
	clear: both;
}
.love-every-bottom .love-zan{
	display: inline-block;
} 
.love-every-bottom .love-zan:hover{
	cursor: pointer;
} 
.love-every-bottom .love-zan img{
	width:17px;
	height: 17px;
}
.love-every-bottom .love-zan em{
	color: #CCCCCC;
}
.love-every-bottom a{

	color: #d20596;
	text-decoration: none;
	float: left;
}
.love-every-bottom span{
	padding: 0;
	margin-right: 20px;
}
