.content{
	width: 60%;
	margin: 0 auto;
	border: 1px solid #CCCCCC;
	border-radius: 5%;
}
.content .timu{
	padding-top: 50px;
	text-align: center;
	font-size: 25px;
	font-weight: 600;
}
.content .autorTime{
	padding-top: 20px;
	color: #4E4C4C;
	font-size: 15px;
	font-family: KaiTi;
	text-align: center;
	
}
.content .autorTime span{
	padding-right: 20px;
}
.content .neirong{
	padding: 35px;
	font-size: 18px;
	line-height: 30px;
	
}
