.father_box{
	position: absolute;
	left:378px ;
	top: 150px;
	background-color:#BBADA0 ;
	width: 450px;
	height: 460px;
	border-radius:10px;
}
.success,.failure{
	display: none;
	position: absolute;
	left:378px ;
	top: 150px;
	background-color:#BBADA0 ;
	width: 450px;
	height: 460px;
	border-radius:10px;
	opacity: 0.8;
}

.success>span{
	position: relative;
	left:145px;
	top: 60px;
	font-size: 66px;
	font-weight: 800;
	color:darkorange ;
}
.success>div{
	position: relative;
	left:179px;
	top: 97px;
	font-size: 30px;
	font-weight: 700;
	color:darkorange ;
}
.failure>div{
	position: relative;
	left:110px;
	top: 118px;
	font-size: 45px;
	font-weight: 700;
	color:darkorange ;
}
.success>p{
	position: relative;
	left:135px;
	top: 130px;
	
}
.failure>p{
	position: relative;
	left:163px;
	top: 216px;
	
}
.success>p>a,.failure>p>a{
	text-decoration: none;
	font-size: 30px;
	font-weight: 600;
	color:darkorange ;
	
}


.child_row{
	display: inline-block;
	margin-top: 9px;
}
.child_box{
	float: left;
	width:100px;
	height: 100px;
	background-color: #cdc1b4;
	margin-left: 10px;
	border-radius:5px ;
	text-align: center;
	line-height: 100px;
	font-size: 45px;
	font-weight: 800;
	color: #A89E93;
	
}

.nm{
	position: absolute;
	left:405px ;
	top:20px;
	width: 120px;
	height: 110px;
	font-size: 40px;
	font-weight: 900;
	background-color: darkorange;	
	text-align: center;
	color: #FFFFFF;
	line-height: 110px;
	border-radius:10px ;
}
.score{
	position: absolute;
	left:635px ;
	top:25px;
	width: 55px;
	height: 55px;
	background-color: #cdc1b4;
	font-size: 15px;
	color: #FFFFFF;
	border-radius: 5px;
	text-align: center;
	line-height: 25px;
	
}
.score>span{
	display: block;
	font-size:17px;
}
.mScore{
	position: absolute;
	left:715px ;
	top:25px;
	width: 55px;
	height: 55px;
	background-color: #cdc1b4;
	font-size: 15px;
	color: #FFFFFF;
	border-radius: 5px;
	text-align: center;
	line-height: 25px;
	
}
.mScore>span{
	display: block;
	font-size:px;
}
.newGame{
	position: absolute;
	left:635px ;
	top:85px;
	width:135px;
	height: 50px;
	background-color: #cdc1b4;
	border-radius: 5px;
	text-align: center;
	line-height: 50px;
	
}
.newGame>a{
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 800px;
	text-decoration: none;
}
.animationSuccess{
	display: none;
}
.animationSuccess>p{
	opacity: 0;
	position: absolute;
	z-index: 1;
	top:111px;
	left: 500px;
	animation: pMove 5s 1;
	color: #FEA30F;
	font-family: "仿宋";
	font-weight: 600;
	letter-spacing: 3px;
}
@keyframes pMove{
	0%{top:111px;left:20px;opacity: 0.8;}
	50%{top:111px;left:500px;opacity: 0.9;}
	75%{top:111px;left:500px;	opacity: 1;}
	900%{top:111px;left:500px;	opacity: 0.5;}
	100%{top:111px;left:500px;	opacity: 0.2;}
}
.animationSuccess>em{
	z-index: 1;
	opacity: 0;
	position: absolute;
	top:160px;
	left: 600px;
	animation: emMove 3s 5s 1;
	letter-spacing: 5px;
	color: darkorange;
	font-family: "仿宋";
	font-weight: 600;
	font-size: 25px;
}
@keyframes emMove{
	0%{top:160px;left:900px;opacity: 0.8;}
	50%{top:160px;left:600px;opacity: 0.8;}
	75%{top:160px;left:600px;opacity: 1;}
	90%{top:160px;left:600px;opacity: 0.5;}
	100%{top:160px;left:600px;opacity: 0.2;}
}
.animationSuccess>em>b{
	z-index: 1;
	opacity: 0;
	animation: embMove 6s 5s 1;
	letter-spacing: 5px;
	color: red;
	font-family: "仿宋";
	font-weight: 600;
	font-size: 25px;
}
@keyframes embMove{
	from{opacity: 0;}
	to{opacity: 1;}
}