<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>toheart-confession</title>
		<link rel="stylesheet"  th:href="@{/css/cssreset.css}" />
		<link rel="stylesheet" th:href="@{/css/common.css}" />
		<link rel="stylesheet" th:href="@{/css/confessionHome.css}" />
		
		<script charset="utf-8" th:src="@{/js/kindeditor/kindeditor-all-min.js}"></script>
		<script charset="utf-8" th:src="@{/js/kindeditor/lang/zh-CN.js}"></script>
		<script type="text/javascript" th:src="@{/js/confessionHome.js}" ></script>
		<script type="text/javascript" th:src="@{/js/jquery-3.2.1.min.js}"></script>
		<script  th:inline="javascript">
			function  loveZan(confessorId,index){
                $.post("/confession/increaseZan",{"confessorId":confessorId},function(res){
                    document.getElementById("confessionLike"+index).innerText=res;
                    document.getElementById("confessionLike"+index).style.color='#D20596'
                    document.getElementById("favImg"+index).src="/img/favorites1.png";
                });
			}
		</script>

	</head>
	<body>
		<div class="top">
			<div class="float-left">
				<div class="title float-left">
					toheart
				</div>
				<ul class="sort float-left">
					<li><a th:href="@{/}">首页</a></li>
					<li><a th:href="@{/story/storyHome/1/10}">故事</a></li>
					<li><a th:href="@{confession}">表白墙</a></li>
					<li><a th:href="@{/game/gameHome}">轻松一刻</a></li>
				</ul>
			</div>
			<div class="float-right top-right">
				<form action="#" method="get" target="_blank" style="display: inline-block;">
					<input class="search" type="text" placeholder="20岁那年" />
						<label for="search-sub">
							<em class="search-ico"></em>
						</label>
						<input type="submit" id="search-sub" class="hidden-sub"/>
				</form>
				<a th:href="@{/login}" class="btn-login" th:if="${session.current_user==null}">QQ登录</a>
				<span  th:if="${session.current_user != null}" th:text="${session.current_user.userName}"></span>
                <a th:href="@{/logout}" class="btn-login"  th:if="${session.current_user != null}" style="margin-left: 5px;font-size: 15px;">[退出]</a>
			</div>
		</div>
		<div class="tt">
			<img th:src="@{/img/biaobai.png}" class="bbbj float-left"/>
			<form th:action="@{/confession/addConfession}" method="post" class="float-right">
				<textarea rows="3" cols="20" name="confessionContent" placeholder="对不起，我爱你"></textarea>
				<input type="text" class="nick" placeholder="请输入姓名" name="confessor"/>
				<input class="submitBiao" type="submit" value="我要表白"/>
			</form>
		</div>
		
		<div class="content">
			<ul>
				<li th:each="confession,status:${confessionList}" >
					<div class="biaobai-content-detail">
							<div class="word" >
								<div th:text="${confession.confessionContent}">情不知所起以往而深 情不知所起以往而深 情不知所起以往而深</div>
								<div class="jieshao" style="position:relative;top: 10px">
									 <div class="zuozhe" style="font-size: 12px;float: right;" >---<em th:text="${confession.confessor}"></em></div>
									 <div style="float: left;font-size: 12px;" th:text="${confession.confessionTime}">2018-6-21</div>
									<div class="love-every-bottom">
										<div class="love-zan" th:onclick="'javascript:loveZan(\''+${confession.confessorId}+'\',\''+${status.index}+'\')'">
											<img th:src="@{/img/favorites.png}" th:id="favImg+${status.index}"/>
											<em th:text="${confession.confessionLike}" th:id="confessionLike+${status.index}">20</em>
										</div>
									<a href="#">详情</a>
									</div>
								</div>
						</div>
					</div>
				</li>
			</ul>
		</div>
		
		<div class="bottom" style="margin-top: 80px;">
			<ul class="aboutUs">
				<li>关于我们</li>
				<li>加入我们</li>
				<li>提交建议</li>
				<li class="li-after">友情链接</li>
			</ul>
			<div class="copyright">© 2018 www.toheart.xin. All rights reserved. <a href="http://www.miitbeian.gov.cn/">京ICP备18028659号-1</a></div>
			<div class="contact">联系我：邮箱：15801374807@163.com QQ：954186642</div>
		</div>
	</body>
	
</html>
