<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xin.toheart.door.mapper.AccountBookMapper">
    <insert id="setAccountBook" useGeneratedKeys="true" keyProperty="id" keyColumn="id" parameterType="xin.toheart.door.pojo.AccountBook" >
        INSERT INTO accountBook(bookName,userId,command,createTime) VALUES (#{bookName},#{userId},#{command},SYSDATE())
    </insert>
    <insert id="setAccountBookAndUser">
        INSERT INTO accountBookAndUser(userId,accountBookId) VALUES (#{userId},#{accountBookId})
    </insert>
    <select id="getBookByUser" resultType="xin.toheart.door.controller.VO.AccountBookVO">
        SELECT au.id,au.accountBookId,accountBook.userId,accountBook.createTime, user.userName, accountBook.bookName FROM accountBook, user, accountBookAndUser au WHERE accountBook.userId = user.userId AND accountBook.id = au.accountBookId AND au.userId = #{userId} and au.flag = 1 and  accountBook.flag=1  ORDER BY accountBook.createTime DESC
    </select>
    <update id="deleteAccountBook" parameterType="int">
         UPDATE accountBook SET flag = 0 WHERE id = #{accountBookId}
    </update>
    <update id="removeAccountBook" parameterType="int">
        UPDATE accountBookAndUser SET flag = 0 WHERE id = #{id}
    </update>
</mapper>
