<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xin.toheart.door.mapper.ConfessionMapper">
    <insert id="addConfession" parameterType="xin.toheart.door.pojo.Confession">
        INSERT INTO confession(confessor,confessionContent,confessionTime) VALUES(#{confession.confessor},#{confession.confessionContent},SYSDATE())
    </insert>
    <select id="findZanById" resultType="int">
        SELECT confessionLike  FROM confession WHERE confessorId=#{confessorId}
    </select>
    <select id="getConfessionHomeInfo" resultType="xin.toheart.door.pojo.ConfessionHomeDTO">
        SELECT confessorId,confessor,confessionContent,confessionLike,confessionTime,articleType,userId,STATUS
        FROM confession c LEFT JOIN praise p ON(c.confessorId=p.articleId) ORDER BY confessorId ASC
    </select>
    <update id="updateConssesion">
        UPDATE confession SET confessionLike=#{praiseNum} WHERE confessorId=#{confessorId}
    </update>
</mapper>
